<div class="d-flex justify-content-center">
    <div class="card" style="width: 50rem;">
        <img src="https://darksouls.wiki.fextralife.com/file/Dark-Souls/Boss_0035_Bell%20Gargoyle.jpg" class="card-img-top" alt="Descripción de la imagen">
        <div class="card-body">
            <h5 class="card-title">Gárgolas campana</h5>
            <h6 class="card-subtitle mb-2 text-muted">Parroquia de los no muertos</h6>
            <p class="card-text">Patrones de ataque</p>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Combo horizontal: Hasta tres golpes horizontales con su alabarda.</li>
                <li class="list-group-item">Estocada con la alabarda: Ataca al jugador con una estocada.</li>
                <li class="list-group-item">Golpe con escudo: Golpea al jugador con su escudo.</li>
            </ul>
        </div>
    </div>
</div>
