<div class="d-flex justify-content-center">
  <div class="card" style="width: 50rem;">
      <img src="https://i.ytimg.com/vi/y6TOL0e0dLI/maxresdefault.jpg" class="card-img-top" alt="Descripción de la imagen">
      <div class="card-body">
          <h5 class="card-title">Sif, el gran lobo gris</h5>
          <h6 class="card-subtitle mb-2 text-muted">Jardín Tenebroso</h6>
          <p class="card-text">Patrones de ataque</p>
          <ul class="list-group list-group-flush">
              <li class="list-group-item">Ataque Horizontal: Sif balancea su espada, generalmente seguida por una segunda en la otra dirección. Este ataque se telegrafia fácilmente y se contrarresta rodando fuera del camino, pero si queda atrapado en él, puede derribarte. Este es el ataque principal que usa durante la pelea.</li>
              <li class="list-group-item">Giro de Espada 360: Sif moverá su espada en un círculo completo, a veces dos veces en un solo ataque. Tiene un movimiento bastante lento y una animación muy reveladora, ya que mueve su espada en la dirección opuesta y luego realiza un gran golpe. Cuando el jugador vea esto, debe intentar llegar lo más atrás posible o debajo de él. Este ataque te derriba y también te duele. Si intentas bloquear esto, lo más probable es que te haga tambalear, así que sigue rodando.</li>
              <li class="list-group-item">Voltereta Hacia Atrás: Como todos estos ataques se pueden evitar esencialmente pegándose debajo de su cuerpo y sus piernas, Sif reconoce esto de vez en cuando y da una voltereta hacia atrás para crear cierta distancia nuevamente. Mueve su espada mientras hace esto, pero rara vez quedarás atrapado en él. También puede realizar este ataque cuando estás frente a él cara a cara, así que ten cuidado también.</li>
          </ul>
      </div>
  </div>
</div>
