<div class="d-flex justify-content-center">
  <div class="card" style="width: 50rem;">
      <img src="https://oyster.ignimgs.com/mediawiki/apis.ign.com/dark-souls/1/12/20160324191319_1.jpg" class="card-img-top" alt="Descripción de la imagen">
      <div class="card-body">
          <h5 class="card-title">Priscilla la Mestiza</h5>
          <h6 class="card-subtitle mb-2 text-muted">Mundo pintado de Ariamis</h6>
          <p class="card-text">Patrones de ataque</p>
          <ul class="list-group list-group-flush">
              <li class="list-group-item"> Priscilla se volverá invisible. Cuando es invisible, la manera más confiable de determinar su ubicación es observar las grandes huellas que deja en la nieve.</li>
              <li class="list-group-item">Se volverá visible de nuevo cuando su equilibrio se rompa. Si Priscilla es golpeada con alguna piromancia o arma imbuida en fuego, ella reaparecerá más rápidamente. </li>
              <li class="list-group-item">Los ataques de Priscilla pueden infligir sangrado a un ritmo alarmante. Es aconsejable equipar objetos que reduzcan el estado de sangrado</li>
          </ul>
      </div>
  </div>
</div>
