<div class="d-flex justify-content-center">
  <div class="card" style="width: 50rem;">
      <img src="https://i.ytimg.com/vi/duhYFi7zips/hqdefault.jpg" class="card-img-top" alt="Descripción de la imagen">
      <div class="card-body">
          <h5 class="card-title">Dragón boquiabierto</h5>
          <h6 class="card-subtitle mb-2 text-muted">Profundidades</h6>
          <p class="card-text">Patrones de ataque</p>
          <ul class="list-group list-group-flush">
              <li class="list-group-item">Ataque de mordida: El dragón se lanza hacia el jugador con un mordisco devastador.</li>
              <li class="list-group-item">Rugido: Un ataque que puede aturdir al jugador y causar daño a distancia.</li>
              <li class="list-group-item">Estocada: Se lanza hacia adelante, causando daño en línea recta.</li>
          </ul>
      </div>
  </div>
</div>
