<div class="d-flex justify-content-center">
  <div class="card" style="width: 50rem;">
      <img src="https://darksouls.wiki.fextralife.com/file/Dark-Souls/artorias_header_full.jpg?v=1529081239468" class="card-img-top" alt="Descripción de la imagen">
      <div class="card-body">
          <h5 class="card-title">Artorias, caminante del abismo</h5>
          <h6 class="card-subtitle mb-2 text-muted">Municipio de Oolacile</h6>
          <p class="card-text">Patrones de ataque</p>
          <ul class="list-group list-group-flush">
              <li class="list-group-item">Embiste mientras realiza una estocada recta con su espadón. Para evadirlo hay que rodar hacia él, pero ligeramente hacia la derecha, hacia su brazo roto.</li>
              <li class="list-group-item">Levanta el espadón sobre su cabeza y luego lo aplasta contra el suelo. Este ataque lo deja vulnerable por unos instantes.</li>
              <li class="list-group-item">Se agacha, luego se eleva en el aire e intenta golpear al jugador. Usa este ataque cuando el jugador está lejos. Este ataque tiene un área de efecto a su alrededor. Hay que esquivar o correr hacia él tan pronto como salte.</li>
          </ul>
      </div>
  </div>
</div>
